#!/bin/bash

kubectl create namespace test
kubectl create role pod-reader --verb=get --verb=list --verb=watch --resource=pods -n test
kubectl create rolebinding st-binding --role=pod-reader --user=stianst@gmail.com -n test


kubectl create namespace test2
kubectl create role pod-reader --verb=get --verb=list --verb=watch --resource=pods -n test2
kubectl create rolebinding group-binding --role=pod-reader --group=kube-dev -n test2