name: JUnit Flaky detection

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - run:
          mvn install -Dsurefire.rerunFailingTestsCount=100 -f junit-testsuite-poc/pom.xml
      - uses: ./.github/actions/report-flaky-test
        env:
          GH_TOKEN: ${{ github.token }}